@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-navy: #285773;
  --color-blue: #3c82ac;
  --color-green: #40b57c;
  --color-grey: #8d9290;
  --color-light-grey: #c3c6c5;
  --color-dark-grey: #4c4f4d;
  --color-dark-green: #297550;
  --animate-slide-in: slide-in 0.3s cubic-bezier(0.24, 0.44, 0.55, 1);
  --animate-roll-left: roll-left 120s linear infinite;
  --animate-roll-right: roll-right 120s linear infinite;
  --animate-ping-reverse: ping 0.5s ease reverse;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes roll-left {
  0% {
    transform: translateX(0%);
  } 
  100% {
    transform: translateX(-33.3333%);
  }
}

@keyframes roll-right {
  0% {
    transform: translateX(0%);
  } 
  100% {
    transform: translateX(33.3333%);
  }
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

body {
  color: #4c4f4d;
}

#burger-menu::-webkit-scrollbar {
    display: none;
}
